.answer {
    background: linear-gradient(250deg, #ffffff1f 0%, #ffffff9f 80%, #ffffffbf 100%);
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: fit-content;
    padding: 8px;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.answer:hover {
    font-weight: bolder;
    text-shadow: 2px 2px 2px #ffffff;
    transform: translateX(-2.5px) translateY(3px) rotate(25deg);
}