

button {
    width: 50px;
    cursor: pointer;
    font-size: 8px;

}

button:hover {
    color:rgb(193, 17, 52);
}


.question_container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
display: flex;

}

.story {
    /* border: #000 1px solid; */
    border-radius: 15px;
    padding: 5px;
    background: #151515;
    font-size: 15px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.answer:hover {

    box-shadow: #191919 2px 2px 2px 2px;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #00E641 50%, #E62900 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    color: #000;
    z-index: -1;
  }