.welcome{
    /* background: #000;
    color: blueviolet;
    width: 100vw;
    height: 100vh; */
    color: #000;
}

  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 4em rgba(0, 0, 0, 0.327);
    box-sizing:border-box;
    left:50%;
    padding:8vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    cursor: pointer;
  }
  
  h1 {
    font-family:monospace;
    font-size: 40px;
  }
  
